@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background-image: url("./components/assets/wallLight.jpg"); */
  background-repeat: round;
}

.app-title {
  /* to add the outline to the text: */
  -webkit-text-stroke: 2px black;
}

/* to customize the title and text style */

.note-title {
  @apply box-border flex flex-col m-0 p-2 border-b border-zinc-500 border-dashed resize-none outline-none w-full h-12 text-center text-xl font-bold font-handlee bg-transparent;
}

.note-text {
  @apply box-border flex flex-col m-0 px-2 pt-2 pb-0 border-none resize-none outline-none w-full h-48 text-justify text-lg  font-handlee bg-transparent cursor-auto;
}

/* To style the scroll bar */

/* to make the other properties in the scroll bar work 
it is necessary to define first this*/
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: #d8d8dc;
  /* border:  0.01em #020202 solid; */
}

::-webkit-scrollbar-thumb {
  background-color: #bebec0;
  /* padding:0.5em; */
  border: 0.2em #d8d8dc solid;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #b5b5b6;
}

.notes-list {
  @apply grid gap-8 m-auto pl-5 pr-2.5 pb-10 grid-cols-290;
}

.count-outline {
  -webkit-text-stroke: 1.5px white;
}

.postit {
  @apply flex flex-col justify-between min-h-260 p-0;
}

.header-display {
  @apply flex;
}

.button-background {
  @apply mr-6 mt-6 -ml-20 pl-2 pt-1 flex bg-yellow-100 hover:bg-amber-200 rounded-lg font-bold font-handlee text-black text-lg w-28 h-10 border-2 border-black;
}

.footer {
  @apply text-right w-full px-1 pb-2 bottom-0;
}

.pos-rel {
  @apply relative;
}

.pos-fix {
  @apply fixed;
}

.m-header-trash {
  @apply mb-5;
}

.mr-date-deleted {
  @apply mr-0;
}

/* To make the media query works in Heroku url is used the "only":*/
@media only screen and (max-device-width: 740px) {
  .notes-list {
    @apply block pb-5;
  }

  .postit-container {
    @apply my-10 m-auto w-10/12 max-w-sm;
  }

  .note-text {
    @apply box-border m-0 px-2 pt-2 pb-0 border-none outline-none w-full h-60 text-justify text-lg  font-handlee bg-transparent cursor-auto;
  }

  .header-display {
    @apply block;
  }

  .button-background {
    @apply mx-auto mb-4 px-2 pt-1 bg-yellow-100 hover:bg-amber-200 rounded-lg font-bold font-handlee text-black w-auto h-10 border-2 border-black;
  }

  .m-header-trash {
    @apply mb-24;
  }

  .footer {
    @apply text-right w-full px-1 pb-2 bottom-0 mt-5;
  }

  .mr-date-deleted {
    @apply mr-28;
  }
}
@media only screen and (max-device-width: 1200px) {
  /* for the mobile screen the position of the footer should be always relative
  to avoid the contact with the post-its */
  .pos-fix {
    @apply relative;
  }
}
