@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./components/assets/wall.jpg");
  background-repeat: round;

}


.app-title {

  /* to add the outline to the text: */
  -webkit-text-stroke: 2px black;
  
}

/* to customize the title and text style */

.note-title {
  @apply  box-border flex flex-col m-0 p-2 border-b border-zinc-500 border-dashed resize-none outline-none w-full h-12 text-center text-xl font-bold font-handlee bg-transparent
}

.note-text {
@apply  box-border flex flex-col m-0 px-2 pt-2 pb-0 border-none resize-none outline-none w-full h-48 text-justify text-lg  font-handlee bg-transparent cursor-auto

}

/* To style the scroll bar */

/* to make the other properties in the scroll bar work 
it is necessary to define first this*/
::-webkit-scrollbar {
  width: 18px;

}

::-webkit-scrollbar-track {
  background: #d8d8dc;
  /* border:  0.01em #020202 solid; */

}

::-webkit-scrollbar-thumb {
  background-color: #bebec0;
  /* padding:0.5em; */
  border: 0.2em #d8d8dc solid;
  border-radius: 0.5em;

}

::-webkit-scrollbar-thumb:hover {
  background: #b5b5b6;


}

.notes-list{
  @apply  grid gap-8 m-auto pl-5 pr-2.5 pb-24 grid-cols-290
  
}


.count-outline {
  -webkit-text-stroke: 1.5px white;
}

.postit{
  @apply flex flex-col justify-between min-h-260 p-0
}

 /* @media (max-width: 600px) {
  
   
  .notes-list{
    @apply  block;
    
  } 

  .postit-container{
    @apply my-10 mx-auto w-10/12
  }


  
  .note-text {
  @apply  box-border m-0 px-2 pt-2 pb-0 border-none outline-none w-full h-60 text-justify text-lg  font-handlee bg-transparent cursor-auto
  
  }
   

}  */