/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.postit {
  background-color: #F7EF99;
  margin:15px;
  min-height: 200px;
  padding: 0rem;
 	display: flex;
	flex-direction: column;
  /* To make the content equally spaced
  between the beginning and the end */
	justify-content: space-between;
	/* white-space: pre-wrap; */
}

.note-title{
  /* -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  -ms-box-sizing: border-box;  */
  /* To take the padding into account
  and use widht=100%  */
  box-sizing: border-box;
  background-color: #FFFBD1;
  font-size: 18px;
  padding: 0.5rem;
  margin: 0;
  display: flex;
	flex-direction: column;
  border: none;
  resize: none;
  outline: none;
  /* To fit the textarea according
   to the container width */
  width: 100%;
  height: 40px;
}
